@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap");

.search_body {
  height: 100vh;
}

.search_movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}
.search_movie {
  width: 345px;
  margin: 0px;
  background-color: black;
  color: white;
  margin: 15px;
  overflow: auto;
  -webkit-box-shadow: 1px 5px 15px rgb(0 0 0 / 50%);
  box-shadow: 1px 5px 15px rgb(0 0 0 / 50%);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.search_movie:hover {
  transform: scale(1.06);
}
.search_img {
  width: inherit;
  margin: 0px;
}
.search_title,
.search_vote {
  margin: 5px;
  font-size: inherit;
}
.search_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.star {
  margin: 3px;
  color: yellow;
}
.bars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search_nothing {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Raleway";
}
