* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(16, 18, 20);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #999999 #10120c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #10120c;
}

*::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 10px;
  border: 3px none #ffffff;
}
